@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #173ab8;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

body{
    position: relative;
    background: url('../images/bg1.jpg');
    min-height: 100vh;
    background-position: cover;
    background-repeat: repeat;
}

.btn-secondary {
    background-color: #173ab8;
}

.table-light{
    background-color: #ececf6;
}

.nav-link {
    margin-right: 20px;
}

h2.table-title {
    font-size: 2rem;
    text-align: center;
    color: #2849bf;
    font-weight: bold;
    text-decoration: solid;
    font-style: italic;
    margin: 0.5% 0%;
}

form label {
    font-weight: bold;
}

/* tbody{
    background-color:#d4dcf7 !important;
} */