<nav class="navbar navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.png" alt="">
  </a>
  <ul>
    <li class="nav-item dropdown">
      <a class="nav-item dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Patients
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="/patients" routerLinkActive="active">All Patients</a>
        <a class="dropdown-item">All Patients-Prescriptions</a>
        <a class="dropdown-item">Query</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-item dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Drugs
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="/drugs" routerLinkActive="active">All Drugs</a>
        <a class="dropdown-item" href="#">All Pharmacies Drugs</a>
        <a class="dropdown-item" href="#">Most Expensive Drugs</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-item dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Prescriptions
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Pending</a>
        <a class="dropdown-item" href="#">Completed</a>
        <a class="dropdown-item" href="#">Ready To Go</a>
      </div>
    </li>
    <li class="nav-item">Contact</li>
  </ul>
</nav>