<form class="form-inline">
  <div class="form-group mb-2">
    <label for="name" class="sr-only">Name</label>
    <input name="name" type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="name">
  </div>
  <div class="form-group mb-2">
    <label for="dob" class="sr-only">Date Of Birth</label>
    <input name="dob" type="date" class="form-control" id="dob" placeholder="Date of Birth" [(ngModel)]="dob">
  </div>
  <button type="submit" class="btn btn-primary mb-2" (click)="fetchPrescriptions()">Submit</button>
</form>

<table class="table table-dark">
  <thead>
    <tr>
      <th>No.</th>
      <th>SSN</th>
      <th>Name</th>
      <th>Physician SSN</th>
      <th>Date</th>
      <th>Quantity</th>
      <th>Trade Name</th>
      <th>Pharma Company Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let enquiryEntry of enquiryDataService.patientPrescriptions; let i=index;">
      <td>{{i + 1}}</td>
      <td>{{enquiryEntry.ssn}}</td>
      <td>{{enquiryEntry.name}}</td>
      <td>{{enquiryEntry.phy_ssn}}</td>
      <td>{{enquiryEntry.pre_date}}</td>
      <td>{{enquiryEntry.quantity}}</td>
      <td>{{enquiryEntry.trade_name}}</td>
      <td>{{enquiryEntry.pharm_co_name}}</td>
      <td></td>
    </tr>
  </tbody>
</table>